
div#scrollbarID {
    height: 535px;
    width: 800px;
    line-height: 3em;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    padding: 10px;
    position: absolute;
    top: 50%;
    border-radius: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div#scrollbarID2 {
    height: 460px;
    width: 775px;
    overflow: auto;
}

div#scrollbarID3 {
    padding-top: 10px;
    width: 775px;
}
