
div#scrollbarID {
    height: 600px;
    width: 800px;
    line-height: 3em;
    overflow: auto;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    padding: 10px;
    position: absolute;
    top: 50%;
    border-radius: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div#scrollbarID form div#input-for-chat{
    width: 750px;
    position: fixed;
    padding-top: 390px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}