#h1ID {
    text-align: center;
}

form#signupform {
    padding: 10px;
    height: 415px;
    width: 450px;
    border-style: solid;
    position: absolute;
    top: 50%;
    border-radius: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form#loginform {
    padding: 10px;
    height: 350px;
    width: 425px;
    border-style: solid;
    position: absolute;
    top: 50%;
    border-radius: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form#loginform label#loginpass{
    padding-top: 5px;
}
