{% extends "base.html" %}
{% block title %}Start Chatting!{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block jsfile %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div id="scrollbarID">
    <p>This 'div' element uses 'overflow:auto' to create scrollbars when needed.</p>
    <p>To be replaced by the actual chat.</p>
    <form action="#" method="POST">
        <div class="input-group mb-3" id="input-for-chat">
            <input type="text" class="form-control" placeholder="Send a message" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="send()">Send</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
