{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
<h1 style="text-align: center; padding: 10px;">Welcome to the rules</h1>
<ul class="list-group">
<li class="list-group-item"> <b>1-</b> Do not harrass people on this platform. We will instantly ban you if you even try.</li>
<li class="list-group-item"> <b>2-</b> No alternative accounts uneless you're testing things with it.</li>
<li class="list-group-item"> <b>3-</b> Since this is a kid friendly website we will block all bad words from it unless you specifically activate it. <strong>Note: </strong><i>Feature might not be added yet.</i></li>
<li class="list-group-item"> <b>4-</b> Use common sense.</li>
<li class="list-group-item"> <b>5-</b> Using our service means you consent to us collecting your data. <strong>Note: </strong><i>we do not sell/give your data to anyone on this platform.</i></li>
<li class="list-group-item"> <b>Finally: </b>Have fun!</li>
</ul>
{% endblock %}
