{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
<h1>Welcome to the rules</h1>
<ul class="list-group">
<li class="list-group-item"> 1- Do not harrass people on this platform. We will instantly ban you if you even try.</li>
<li class="list-group-item"> 2- No alternative accounts uneless you're testing things with it.</li>
<li class="list-group-item"> 3- Since this is a kid friendly website we will block all bad words from it. uneless u specificly activate it <strong>Note:</strong><i>(Feature might not be added yet).</i></li>
<li class="list-group-item"> 4- Use common sense.</li>
<li class="list-group-item">Finally: Have fun!</li>
</ol>
{% endblock %}
